Lyes BOURENNANI <lyes.bourennani@epita.fr> <58995593+m1nds@users.noreply.github.com>
Loic BATTESTI <loic.battesti@epita.fr> <104223770+White0rld@users.noreply.github.com>
Lucas KOTEVSKI <lucas.kotevski@epita.fr> <128587833+paulinegaminge@users.noreply.github.com>
Dorian SALOMON <dorian.salomon@epita.fr> <91985696+Doodoo67@users.noreply.github.com>
